# Python / Jupyter
.venv/
.tfliteenv/
.yoloenv/*
.yoloexport/*
.yolotf/*
model/.yoloexport/*
model/.yolotf/*
model/.venv/
__pycache__/
*.pyc

# datasets
model/datasets/*
model/pytorch_imagenet/

# pred_trays
model/pred_trays/*
model/assets/*
model/runs_fishdet/pred_trays/*

wheelhouse/*

model/YOLO_Converter/out_tflite/*

assets/*
old_assets/labels/*

assets/*
old_assets/labels/*




